@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

nav {
  position: relative;
  /* & .nav-link:nth-child(1):hover ~ #block{
    opacity: 1;
    left: 3%;
  }
  & .nav-link:nth-child(2):hover ~ #block{
    opacity: 1;
    left: 27%;
  }
  & .nav-link:nth-child(3):hover ~ #block{
    opacity: 1;
    left: 51%;
  }
  & .nav-link:nth-child(4):hover ~ #block{
    opacity: 1;
    left: 75%;
  } */
}

#block {
  position: absolute;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 25.2%;
    --primary-foreground: 210 40% 90%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 202.2 84% 9.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 92%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 12.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500 dark:from-amber-300 dark:to-teal-200
  }
  .text-shadow-dark {
    text-shadow: 0 0 2px white,0 0 10px white;
  }
  .box-shadow {
    box-shadow: 2px 2px 10px rgba(22, 22, 22, 0.6),
    -2px -2px 10px rgba(222,222,222,1);
    transition: all .5s ease-in-out;
  }
  .box-shadow:hover {
    box-shadow: 0px 0px 10px rgba(22, 22, 22,0.4),
    0px 0px 10px rgba(222,222,222,0.6),
    inset 1px 1px 10px rgba(22, 22, 22,0.1),
    inset -1px -1px 10px rgba(222,222,222,0.1);
    scale: 0.97;
  }
  .fadeIn {
    animation: fade 0.3s ease-in-out;
  }
}

.wave {
  position: relative;
  div {
    position     : absolute;
    left         : 50%;
    @media screen and (max-width: 768px) {
      top          : 50vh;
      width        : 1000px;
      height       : 1000px;
      margin-left  : -500px;
    }
    @media screen and (min-width: 768px) {
      top          : 70vh;
      width        : 3000px;
      height       : 3000px;
      margin-left  : -1500px;
    }
    border-radius: 40%;
    overflow: hidden;
  }
  .w1 {
    animation : drift 4s infinite linear;
  }
  .w2 {
    animation : drift 6s infinite linear;
  }
  .w3 {
    animation : drift 5s infinite linear;
  }
}
@keyframes drift {
  from {
      -webkit-transform: rotate(0deg);
      transform        : rotate(0deg);
  }
  from {
      -webkit-transform: rotate(360deg);
      transform        : rotate(360deg);
  }
}
@keyframes fade {
  from {
      opacity: 0.2;
  }
  to {
      opacity: 1;
  }
}

.loading {
  border: 3px solid rgb(20, 180, 255);
  border-top-color: rgba(20, 180, 255, 0.4);
  border-right-color: rgba(20, 180, 255, 0.4);
  border-bottom-color: rgba(20, 180, 255, 0.4);
  border-radius: 100%;
  animation: circle infinite 0.75s linear;
}
@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}